# SPDX-FileCopyrightText: 2023 Gert van Dijk <github@gertvandijk.nl>
#
# SPDX-License-Identifier: CC0-1.0

# Flake8 does not support reading from pyproject.toml files.
# https://github.com/PyCQA/flake8/issues/234

[flake8]
# Match black's default
max-line-length = 88
extend-exclude =
    *.egg-info/,
    ./.mypy_cache,
    ./.pytest_cache,
    ./build,
    ./dist,
    ./.direnv
